# App
APP_ENV=
APP_NAME=
APP_PORT=

# Database
DATABASE_URL=
# Security
JWT_SECRET=
JWT_EXPIRES_IN=
JWT_REFRESH_SECRET=
JWT_REFRESH_EXPIRES_IN=7d

# Google OAuth 
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=